body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

#searchInput {
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

#searchResults {
    max-width: 800px;
    margin: 0 auto;
}
